<div class="d-flex flex-column">
    <a class="btn m-3" style="background-color: #FBEEDF" href="@Url.Action("ShowForm", "First")">1.</a>
    <a class="btn m-3" style="background-color: #A2DEBD" href="@Url.Action("ShowForm", "Second")">2.</a>
    <a class="btn m-3" style="background-color: #8384DF" href="@Url.Action("ShowSearchBox", "Third")">3.</a>
    <a class="btn m-3" style="background-color: #B79FF1" href="@Url.Action("Index", "Fourth")">4.</a>
    <a class="btn m-3" style="background-color: #F9AFEC" href="@Url.Action("Index", "Fifth")">5.</a>
    <a class="btn m-3" style="background-color: #FFD5FA" href="@Url.Action("Index", "Sixth")">6.</a>
</div>